<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>NetExtractor</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body background="{{ url_for('static', filename='img/fondo8.png') }}">
	<header id="header" class="sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky-top">
			<a class="navbar-brand" href="#"><h2><img src="{{ url_for('static', filename='img/NetExtractor2.png') }}" width="200" height="100" id="politecnica"></h2></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('inicio') }}"><h5>{{ _('Inicio') }}</h5></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="https://github.com/jng0020/NetExtractor" target="_blank"><h5>{{ _('Repositorio') }}</h5></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('about') }}" target="_blank"><h5>{{ _('Acerca De') }}</h5></a>
				</li>
			  </ul>
			  <div class="banderas">
				  <img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
				  <img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
			  </div>
			</div>
		  </nav>
	</header>
	<div class="container-fluid">
		<div class="card text-white bg-warning mb-3 float-right mb-0" style="max-width: 20rem; bottom: 0; position: fixed; z-index: 1000; right: 0;">
		  <div class="card-header">{{ _('Advertencia')}}</div>
		  <div class="card-body">
			<h4 class="card-title">{{ _('Botones de navegación') }}</h4>
			<p class="card-text">{{ _('Se recomienda no utilizar los botones de navegación del navegador, en su lugar utilice los que tiene la propia aplicación.') }}</p>
		  </div>
		</div>
		<div id="content" class="d-flex align-items-stretch min-vh-100">
			<div id="form-content" class="d-flex align-items-center w-100">
				<form class="m-auto" id="form" action="" method="post" enctype=multipart/form-data>
					<div class="col-12 text-center">
						<input type="button" class="btn btn-primary btn-lg p-2 px-5 m-5 btn-block" name="btn btn-select" onclick="epub()" value="{{ _('epub') }}">
					</div>
					<div class="col-12 text-center">
						<input type="button" class="btn btn-primary btn-lg p-2 px-5 m-5 btn-block" style="margin-bottom: 14.5rem !important;" name="btn btn-sel" onclick="pelicula()" value="{{ _('pelicula') }}">
					</div>
				</form>
				<p>{{error}}</p>
			</div>
		</div>
	</div>
	<footer></footer>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		var validNavigation = false; 
		
		function pelicula(){
			validNavigation = true;
			window.location.href='{{ url_for('diccionarioPelicula') }}'
		}
		
		function epub(){
			validNavigation = true;
			window.location.href='{{ url_for('index') }}'
		}
		
		//https://eureka.ykyuen.info/2011/02/22/jquery-javascript-capture-the-browser-or-tab-closed-event/
		function endSession() {
			$.ajax({
		      type: "POST",
		      contentType: "application/json;charset=utf-8",
		      url: "/Fin-Sesion",
		      traditional: "true",
		      data: JSON.stringify({{ g.usuario }}),
		      dataType: "json"
		    });
		}
		 
		function wireUpEvents() {
			  /*
			  * For a list of events that triggers onbeforeunload on IE
			  * check http://msdn.microsoft.com/en-us/library/ms536907(VS.85).aspx
			  */
			  window.onbeforeunload = function(event) {
				  if (!validNavigation) {
					 endSession();
				  }
			  }
			 
			  // Attach the event keypress to exclude the F5 refresh
			  $(document).bind('keydown', function(e) {
				if (e.keyCode == 116){
				  validNavigation = true;
				}
			  });

			 
			  // Attach the event click for all links in the page
			  $("a").bind("click", function() {
				validNavigation = true;
			  });
			 
			  // Attach the event submit for all forms in the page
			  $("form").bind("submit", function() {
				validNavigation = true;
			  });
			 
			  // Attach the event click for all inputs in the page
			  $("input[type=submit]").bind("click", function() {
				validNavigation = true;
			  });

			  $("input[type=button]").bind("click", function() {
					validNavigation = true;
			  });
			}
			 
			// Wire up the events as soon as the DOM tree is ready
			$(document).ready(function() {
			  wireUpEvents();  
		});
	</script>
</body>
</html>