<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>NetExtractor</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<style>
		.zoomA {
			width: 600px;
			height: auto;
			transition-duration: 1s;
			transition-timing-function: ease;
		}
		.zoomA:hover {
			transform: scale(1.8);
		}
	</style>
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky-top">
			<a class="navbar-brand" href="#"><h2><img src="{{ url_for('static', filename='img/NetExtractor2.png') }}" width="200" height="100" id="politecnica"></h2></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('inicio') }}"><h5>{{ _('Inicio') }}</h5></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="https://github.com/jng0020/NetExtractor" target="_blank"><h5>{{ _('Repositorio') }}</h5></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('about') }}" target="_blank"><h5>{{ _('Acerca De') }}</h5></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://wikinetextractor.wikidot.com/user-guide#toc22" target="_blank"><h5>{{ _('Wiki') }}</h5></a>
				</li>
			  </ul>
			  <div class="banderas">
				  <img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
				  <img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
			  </div>
			</div>
		  </nav>
	</header>
	<div class="fixed-bottom" style="background-color:white">
		<div id="indicex">
			<button type="button" class="btn btn-primary float-left btn-lg p-3 px-5" name="btn btn-volver" onclick="atras()">{{ _('Volver') }}</button>
			<a href="#navegacion" class="btn btn-primary float-right btn-lg p-3 px-5">{{ _('Menú de Navegación') }}</a>
		</div>
	</div>
	<div id="content" class="d-flex flex-row bd-highlight mb-3">
		<div id="indice" class="float-left col-2 p-2 bd-highligh">
			<form action="" id="form-menu" method="post">
				<a name="navegacion"><h3 style="text-align: center;">{{_('Menú de Navegación')}}</h3></a>
				{% if "cbx cbx-nnod" in informe.keys() or "cbx cbx-nenl" in informe.keys() or "cbx cbx-nint" in informe.keys() %}
				<a href="#medidasbasicas" class="btn btn-primary btn-block">{{_('Medidas básicas')}}</a>
				{%endif%}
				{% if "cbx cbx-nnod" in informe.keys() %}
				<a href="#numnodos" class="btn btn-secondary btn-block">{{_('Número Nodos')}}</a>
				{%endif%}
				{%if "cbx cbx-nenl" in informe.keys()%}
				<a href="#numenlaces" class="btn btn-secondary btn-block">{{_('Número Enlaces')}}</a>
				{%endif%}
				{%if "cbx cbx-nint" in informe.keys() %}
				<a href="#numinter" class="btn btn-secondary btn-block">{{_('Número Interacciones')}}</a>
				{%endif%}
				{% if "cbx cbx-gradosin" in informe.keys() or "cbx cbx-gradocon" in informe.keys() or "cbx cbx-distsin" in informe.keys() or "cbx cbx-distcon" in informe.keys() or "cbx cbx-dens" in informe.keys() %}
				<a href="#medidasdegrado" class="btn btn-primary btn-block">{{_('Medidas de grado')}}</a>
				{%endif%}
				{% if "cbx cbx-gradosin" in informe.keys() %}
				<a href="#gsinpeso" class="btn btn-secondary btn-block">{{_('Grado Nodos Sin Peso')}}</a>
				{%endif%}
				{%if "cbx cbx-gradocon" in informe.keys() %}
				<a href="#gconpeso" class="btn btn-secondary btn-block">{{_('Grado Nodos Con Peso')}}</a>
				{%endif%}
				{%if "cbx cbx-distsin" in informe.keys() %}
				<a href="#dsinpeso" class="btn btn-secondary btn-block">{{_('Distribución Grado Sin Peso')}}</a>
				{%endif%}
				{%if "cbx cbx-distcon" in informe.keys() %}
				<a href="#dconpeso" class="btn btn-secondary btn-block">{{_('Distribución Grado Con Peso')}}</a>
				{%endif%}
				{%if "cbx cbx-dens" in informe.keys() %}
				<a href="#densidad" class="btn btn-secondary btn-block">{{_('Densidad')}}</a>
				{%endif%}
				{% if "cbx cbx-concomp" in informe.keys() or "cbx cbx-exc" in informe.keys() or "cbx cbx-dia" in informe.keys() or "cbx cbx-rad" in informe.keys() or "cbx cbx-longmed" in informe.keys() %}
				<a href="#medidasdedistancia" class="btn btn-primary btn-block">{{_('Medidas de Distancia')}}</a>
				{%endif%}
				{% if "cbx cbx-concomp" in informe.keys() %}
				<a href="#cc" class="btn btn-secondary btn-block">{{_('Componentes Conectados')}}</a>
				{%endif%}
				{%if "cbx cbx-exc" in informe.keys() %}
				<a href="#excen" class="btn btn-secondary btn-block">{{_('Excentricidad')}}</a>
				{%endif%}
				{%if "cbx cbx-dia" in informe.keys() %}
				<a href="#diametro" class="btn btn-secondary btn-block">{{_('Diametro')}}</a>
				{%endif%}
				{%if "cbx cbx-rad" in informe.keys() %}
				<a href="#radio" class="btn btn-secondary btn-block">{{_('Radio')}}</a>
				{%endif%}
				{%if "cbx cbx-longmed" in informe.keys() %}
				<a href="#distmed" class="btn btn-secondary btn-block">{{_('Distancia Media')}}</a>
				{%endif%}
				{% if "cbx cbx-locclust" in informe.keys() or "cbx cbx-clust" in informe.keys() or "cbx cbx-trans" in informe.keys() %}
				<a href="#medidasdeclustering" class="btn btn-primary btn-block">{{_('Medidas de Clustering')}}</a>
				{%endif%}
				{% if "cbx cbx-locclust" in informe.keys() %}
				<a href="#ccl" class="btn btn-secondary btn-block">{{_('Coeficiente de Clustering Local')}}</a>
				{%endif%}
				{%if "cbx cbx-clust" in informe.keys() %}
				<a href="#cclm" class="btn btn-secondary btn-block">{{_('Coeficiente de Clustering Local Medio')}}</a>
				{%endif%}
				{%if "cbx cbx-trans" in informe.keys() %}
				<a href="#transitividad" class="btn btn-secondary btn-block">{{_('Transitividad')}}</a>
				{%endif%}
				{% if "cbx cbx-centg" in informe.keys() or "cbx cbx-centc" in informe.keys() or "cbx cbx-centi" in informe.keys() or "cbx cbx-ranwal" in informe.keys() or "cbx cbx-centv" in informe.keys() or "cbx cbx-para" in informe.keys()%}
				<a href="#medidasdecentralidad" class="btn btn-primary btn-block">{{_('Medidas de Centralidad')}}</a>
				{%endif%}
				{% if "cbx cbx-centg" in informe.keys() %}
				<a href="#cg" class="btn btn-secondary btn-block">{{_('Centralidad Grado')}}</a>
				{%endif%}
				{%if "cbx cbx-centc" in informe.keys() %}
				<a href="#ccer" class="btn btn-secondary btn-block">{{_('Centralidad Cercanía')}}</a>
				{%endif%}
				{%if "cbx cbx-centi" in informe.keys() %}
				<a href="#cinter" class="btn btn-secondary btn-block">{{_('Centralidad Intermediación')}}</a>
				{%endif%}
				{%if "cbx cbx-ranwal" in informe.keys() %}
				<a href="#ica" class="btn btn-secondary btn-block">{{_('Intermediación Camino Aleatorio')}}</a>
				{%endif%}
				{%if "cbx cbx-centv" in informe.keys() %}
				<a href="#cvp" class="btn btn-secondary btn-block">{{_('Centralidad Valor Propio')}}</a>
				{%endif%}
				{%if "cbx cbx-para" in informe.keys() %}
				<a href="#pagerank" class="btn btn-secondary btn-block">{{_('Pagerank')}}></a>
				{%endif%}
				{% if "cbx cbx-kcliperc" in informe.keys() or "cbx cbx-girnew" in informe.keys() or "cbx cbx-greedy" in informe.keys() or "cbx cbx-louvain" in informe.keys() %}
				<a href="#gruposycomunidades" class="btn btn-primary btn-block">{{_('Grupos y Comunidades')}}</a>
				{%endif%}
				{% if "cbx cbx-kcliperc" in informe.keys() %}
				<a href="#kcc" class="btn btn-secondary btn-block">{{_('Comunidades K-clique')}}</a>
				{%endif%}
				{%if "cbx cbx-girnew" in informe.keys() %}
				<a href="#gnew" class="btn btn-secondary btn-block">{{_('Comunidades Girvan-Newman')}}</a>
				{%endif%}
				{%if "cbx cbx-greedy" in informe.keys() %}
				<a href="#greedy" class="btn btn-secondary btn-block">{{_('Comunidades Clauset-Newman-Moore')}}</a>
				{%endif%}
				{%if "cbx cbx-louvain" in informe.keys() %}
				<a href="#louvain" class="btn btn-secondary btn-block">{{_('Comunidades Louvain')}}</a>
				{%endif%}
				{% if "cbx cbx-roleslouvain" in informe.keys() or "cbx cbx-rolesgirvan" in informe.keys() or "cbx cbx-rolesgreedy" in informe.keys() or "cbx cbx-roleskcliq" in informe.keys() %}
				<a href="#deteccionderoles" class="btn btn-primary btn-block">{{_('Detección de roles')}}</a>
				{%endif%}
				{% if "cbx cbx-roleskcliq" in informe.keys() %}
				<a href="#roleskcliq" class="btn btn-secondary btn-block">{{_('Roles K-clique')}}</a>
				{%endif%}
				{%if "cbx cbx-rolesgirvan" in informe.keys() %}
				<a href="#rolesgirvan" class="btn btn-secondary btn-block">{{_('Roles Girvan-Newman')}}</a>
				{%endif%}
				{%if "cbx cbx-rolesgreedy" in informe.keys() %}
				<a href="#rolesgreedy" class="btn btn-secondary btn-block">{{_('Roles Clauset-Newman-Moore')}}</a>
				{%endif%}
				{%if "cbx cbx-roleslouvain" in informe.keys() %}
				<a href="#roleslouvain" class="btn btn-secondary btn-block">{{_('Roles Louvain')}}</a>
				{%endif%}
			</form>
		</div>
		<div class="p-2 bd-highligh">
			<div>
				<div style="text-align: center;">
				<h1>{{_('Informe')}}</h1><br />
				</div>
		</div>
		<div id="forms" style="margin-bottom:5rem;">
			{% if "cbx cbx-nnod" in informe.keys() or "cbx cbx-nenl" in informe.keys() or "cbx cbx-nint" in informe.keys() %}
			<a name="medidasbasicas"><h3>{{_('Medidas básicas')}}</h3></a>
			{% endif %}
			{% if "cbx cbx-nnod" in informe.keys() %}
				<a name="numnodos"><p><h5>{{_('Número Nodos')}}:</h5></p></a>
				<p>
				{{ _('En el caso de esta red el número de nodos es:') }} <b>{{informe["cbx cbx-nnod"]}}</b>.</p>
			{% endif %}
			{% if "cbx cbx-nenl" in informe.keys() %}
				<a name="numenlaces"><p><h5>{{_('Número Enlaces')}}:</h5></p></a>
				{{ _('En el caso de esta red el número de enlaces es:') }} <b>{{informe["cbx cbx-nenl"]}}</b>.</p>
			{% endif %}
			{% if "cbx cbx-nint" in informe.keys() %}
				<a name="numinter"><p><h5>{{_('Número Interacciones')}}:</h5></p></a>
				<p>{{ _('En el caso de esta red el número de interacciones es:') }} <b>{{informe["cbx cbx-nint"]}}</b>.</p><br/>
			{% endif %}
			{% if "cbx cbx-gradosin" in informe.keys() or "cbx cbx-gradocon" in informe.keys() or "cbx cbx-distsin" in informe.keys() or "cbx cbx-distcon" in informe.keys() or "cbx cbx-dens" in informe.keys() %}
			<a name="medidasdegrado"><h3>{{_('Medidas de grado')}}</h3></a>

			{%endif%}
			{% if "cbx cbx-gradosin" in informe.keys() %}
				<a name="gsinpeso"><p><h5>{{_('Grado Nodos Sin Peso')}}:</h5> </p> </a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
						<th scope="col">Nombre Personaje</th>
						<th scope="col">{{_('Grados Nodo Sin Peso')}}</th>
						</tr>
					</thead>
					<tbody>
					{% for x in informe["cbx cbx-gradosin"] %}
						<tr>
							<td>{{x[0]}}</td>
							<td>{{x[1]}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table> 
				<br/>
			{% endif %}
			{% if "cbx cbx-gradocon" in informe.keys() %}
				<a name="gconpeso"><p><h5>{{_('Grado Nodos Con Peso')}}:</h5> </p> </a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
						<th scope="col">Nombre Personaje</th>
						<th scope="col">{{_('Grados Nodo Con Peso')}}</th>
						</tr>
					</thead>
					<tbody>
					{% for x in informe["cbx cbx-gradocon"] %}
						<tr>
							<td>{{x[0]}}</td>
							<td>{{x[1]}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table> 
				<br/>
			{% endif %}
			{% if "cbx cbx-distsin" in informe.keys() %}
				<a name="dsinpeso"><p><h5>{{_('Distribución Grado Sin Peso')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Grado')}}</th>
							<th scope="col">{{_('Num Nodos con este Grado')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-distsin"].keys() %}
							<tr>
								<td>{{x}}</td>
								<td>{{informe["cbx cbx-distsin"][x]}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='dsin.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-distcon" in informe.keys() %}
				<a name="dconpeso"><p><h5>{{_('Distribución Grado Con Peso')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Grado')}}</th>
							<th scope="col">{{_('Num Nodos con este Grado')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-distcon"].keys() %}
							<tr>
								<td>{{x}}</td>
								<td>{{informe["cbx cbx-distcon"][x]}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='dcon.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-dens" in informe.keys() %}
				<a name="densidad"><p><h5>{{_('Densidad')}}:</h5></p></a>
				<p>
				{{ _('En el caso de esta red la densidad es:') }} <b>{{informe["cbx cbx-dens"]}}</b>.</p><br/>
			{% endif %}
			{% if "cbx cbx-concomp" in informe.keys() or "cbx cbx-exc" in informe.keys() or "cbx cbx-dia" in informe.keys() or "cbx cbx-rad" in informe.keys() or "cbx cbx-longmed" in informe.keys() %}
			<a name="medidasdedistancia"><h3>{{_('Medidas de Distancia')}}</h3></a>
			{%endif%}
			{% if "cbx cbx-concomp" in informe.keys() %}
				<a name="cc"><p><h5>{{_('Componentes Conectados')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Componente')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-concomp"] %}
							<tr>
								<td>
									{% for i in x %}
										{{ i }}, 
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
			{% endif %}
			{% if "cbx cbx-exc" in informe.keys() %}
				<a name="excen"><p><h5>{{_('Excentricidad')}}:</h5></p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Excentricidad')}}</th>
						</tr>
					</thead>
					</tbody>
						{% for x in informe["cbx cbx-exc"].keys() %}
						<tr>
							<td>{{ x }}</td>
							<td>{{ informe["cbx cbx-exc"][x] }}</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
				<br/>
			{% endif %}
			{% if "cbx cbx-dia" in informe.keys() %}
				<a name="diametro"><p><h5>{{_('Diametro')}}:</h5></p></a>
				<p>
				{{ _('En el caso de esta red el diámetro es:') }} <b>{{informe["cbx cbx-dia"]}}</b>.</p><br/>
			{% endif %}
			{% if "cbx cbx-rad" in informe.keys() %}
				<a name="radio"><p><h5>{{_('Radio')}}:</h5></p></a>
				<p>
				{{ _('En el caso de esta red el radio es:') }} <b>{{informe["cbx cbx-rad"]}}</b>.</p>
			{% endif %}
			{% if "cbx cbx-longmed" in informe.keys() %}
				<a name="distmed"><p><h5>{{_('Distancia Media')}}:</h5></p></a>
				<p><b>{{informe["cbx cbx-longmed"]}}</b>.</p><br/>
			{% endif %}
			{% if "cbx cbx-locclust" in informe.keys() or "cbx cbx-clust" in informe.keys() or "cbx cbx-trans" in informe.keys() %}
			<a name="medidasdeclustering"><h3>{{_('Medidas de Clustering')}}</h3></a>
			{% endif %}
			{% if "cbx cbx-locclust" in informe.keys() %}
				<a name="ccl"><p><h5>{{_('Clustering Local')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{('Clustering Local')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-locclust"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-locclust"][x] }}</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
			{% endif %}
			{% if "cbx cbx-clust" in informe.keys() %}
				<a name="cclm"><p><h5>{{_('Clustering Global')}}:</h5> {{informe["cbx cbx-clust"]}}</p></a>
			{% endif %}
			{% if "cbx cbx-trans" in informe.keys() %}
				<a name="transitividad"><p><h5>{{_('Transitividad')}}:</h5></p></a>
					<p>{{ _('En esta red la transitividad es:') }} <b>{{informe["cbx cbx-trans"]}}</b>.</p><br/>
			{% endif %}
			{% if "cbx cbx-centg" in informe.keys() or "cbx cbx-centc" in informe.keys() or "cbx cbx-centi" in informe.keys() or "cbx cbx-ranwal" in informe.keys() or "cbx cbx-centv" in informe.keys() or "cbx cbx-para" in informe.keys()%}
			<a name="medidasdecentralidad"><h3>{{_('Medidas de Centralidad')}}</h3></a>
			{%endif%}
			{% if "cbx cbx-centg" in informe.keys() %}
				<a name="cg"><p><h5>{{_('Centralidad Grado')}}:</h5></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Centralidad Grado')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-centg"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-centg"][x] }}</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='centg.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-centc" in informe.keys() %}
				<p><a name="ccer"><h5>{{_('Centralidad Cercanía')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Centralidad Cercanía')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-centc"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-centc"][x] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div style="margin-left:20rem;"><img src="{{ url_for('download_file', filename='centc.png') }}" width="700" height="500" class="zoomA"></div>
				<br/>
			{% endif %}
			{% if "cbx cbx-centi" in informe.keys() %}
				<p><a name="cinter"><p><h5>{{_('Centralidad Intermediación')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Centralidad Intermediación')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-centi"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-centi"][x] }}</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='centi.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-ranwal" in informe.keys() %}
				<a name="ica"><p><h5>{{_('Centralidad Intermediación Camino Aleatorio')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Centralidad Intermediación Camino Aleatorio')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-ranwal"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-ranwal"][x] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='ranwal.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-centv" in informe.keys() %}
			<p><a name="cvp"><p><h5>{{_('Centralidad Valor Propio')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Centralidad Valor Propio')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-centv"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-centv"][x] }}</td>
							</tr>
						{% endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='centv.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-para" in informe.keys() %}
			<p><a name="pagerank"><p><h5>{{_('Pagerank')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Personaje')}}</th>
							<th scope="col">{{_('Pagerank')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-para"].keys() %}
							<tr>
								<td>{{ x }}</td>
								<td>{{ informe["cbx cbx-para"][x] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='para.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}			
			{% if "cbx cbx-kcliperc" in informe.keys() or "cbx cbx-girnew" in informe.keys() or "cbx cbx-greedy" in informe.keys() or "cbx cbx-louvain" in informe.keys() %}
				<a name="gruposycomunidades"><h3>{{_('Grupos y comunidades')}}</h3></a>
			{% endif %}
				{% if "cbx cbx-kcliperc" in informe.keys()%}
				<a name="kcc"><p><h5>{{_('Comunidades K-clique')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Comunidad')}}</th>

						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-kcliperc"] %}
							<tr>
								<td>
									{% for i in x %}
										{{ i }} | 
									{% endfor %}
								</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='kcliperc.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{%endif%}
			{% if "cbx cbx-girnew" in informe.keys() %}
				<p><a name="gnew"><h5>{{_('Comunidades Girvan-Newman')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Comunidad')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-girnew"] %}
							<tr>
								<td>
									{% for i in x %}
										{{ i }} | 
									{% endfor %}
								</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='girnew.png') }}" width="700" height="500" class="zoomA">
				</div>

				<br/>
			{% endif %}
			{% if "cbx cbx-greedy" in informe.keys() %}
				<p><a name="greedy"><h5>{{_('Comunidades Clauset-Newman-Moore')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Comunidad')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-greedy"] %}
							<tr>
								<td>
									{% for i in x %}
										{{ i }} | 
									{% endfor %}
								</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='greedyCom.png') }}" width="700" height="500" class="zoomA">
				</div>

				<br/>
			{% endif %}
			{% if "cbx cbx-louvain" in informe.keys() %}
				<a name="louvain"><p><h5>{{_('Comunidades Louvain')}}:</h5> </p></a>
				<table class="table table-hover">
					<thead>
						<tr class="table-primary">
							<th scope="col">{{_('Comunidad')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for x in informe["cbx cbx-louvain"] %}
							<tr>
								<td>
									{% for i in x %}
										{{ i }} | 
									{% endfor %}
								</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='louvain.png') }}" width="700" height="500" class="zoomA">
				</div>

				<br/>
			{% endif %}
			{% if "cbx cbx-roleslouvain" in informe.keys() or "cbx cbx-rolesgirvan" in informe.keys() or "cbx cbx-rolesgreedy" in informe.keys() or "cbx cbx-roleskcliq" in informe.keys() %}
				<a name="deteccionderoles"><h3>{{_('Detección de roles')}}</h3></a>
			{% endif %}
			{% if "cbx cbx-roleskcliq" in informe.keys() %}
				<a name="roleskcliq"><p><h4>{{_('Roles K-clique')}}:</h4></p></a>
				<p><h5>{{_('No Hubs Ultra Periféricos (R1)')}}:</h5></p>
				<p> 
				{% for x in informe["cbx cbx-roleskcliq"]['nhubu'] %}
					{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Periféricos (R2)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleskcliq"]['nhubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Conectores (R3)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleskcliq"]['nhubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Kinless (R4)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleskcliq"]['nhubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Provinciales (R5)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleskcliq"]['hubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Conectores (R6)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleskcliq"]['hubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Kinless (R7)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleskcliq"]['hubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<br/>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='roleskcliq.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-rolesgirvan" in informe.keys() %}
				<a name="rolesgirvan"><p><h4>{{_('Roles Girvan-Newman')}}:</h4></p></a>
				<p><h5>{{_('No Hubs Ultra Periféricos (R1)')}}:</h5></p>
				<p> 
				{% for x in informe["cbx cbx-rolesgirvan"]['nhubu'] %}
					{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Periféricos (R2)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgirvan"]['nhubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Conectores (R3)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgirvan"]['nhubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Kinless (R4)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgirvan"]['nhubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Provinciales (R5)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgirvan"]['hubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Conectores (R6)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgirvan"]['hubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Kinless (R7)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgirvan"]['hubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<br/>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='rolesgirvan.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-rolesgreedy" in informe.keys() %}
				<a name="rolesgreedy"><p><h4>{{_('Roles Clauset-Newman-Moore')}}:</h4></p></a>
				<p><h5>{{_('No Hubs Ultra Periféricos (R1)')}}:</h5></p>
				<p> 
				{% for x in informe["cbx cbx-rolesgreedy"]['nhubu'] %}
					{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Periféricos (R2)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgreedy"]['nhubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Conectores (R3)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgreedy"]['nhubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Kinless (R4)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgreedy"]['nhubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Provinciales (R5)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgreedy"]['hubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Conectores (R6)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgreedy"]['hubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Kinless (R7)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-rolesgreedy"]['hubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<br/>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='rolesgreedy.png') }}" width="700" height="500" class="zoomA">
				</div>
				<br/>
			{% endif %}
			{% if "cbx cbx-roleslouvain" in informe.keys() %}
				<a name="roleslouvain"><p><h4>{{_('Roles Louvain')}}:</h4></p></a>
				<p><h5>{{_('No Hubs Ultra Periféricos (R1)')}}:</h5></p>
				<p> 
				{% for x in informe["cbx cbx-roleslouvain"]['nhubu'] %}
					{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Periféricos (R2)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleslouvain"]['nhubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Conectores (R3)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleslouvain"]['nhubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('No Hubs Kinless (R4)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleslouvain"]['nhubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Provinciales (R5)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleslouvain"]['hubp'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Conectores (R6)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleslouvain"]['hubc'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<p><h5>{{_('Hubs Kinless (R7)')}}:</h5></p>
				<p>
				{% for x in informe["cbx cbx-roleslouvain"]['hubk'] %}
						{{x}} | 
				{% endfor %}
				</p>
				<br/>
				<div style="margin-left:20rem;">
				<img src="{{ url_for('download_file', filename='roleslouvain.png') }}" width="700" height="500" class="zoomA">
				</div>
			{% endif %}
		</div>
		</div>
	</div>
	<footer></footer>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		var validNavigation = false;
		var contador = 0;
		function atras() {
			validNavigation = true;
			window.location.href='{{ url_for('informe') }}'
		}

		function sendForm() {
			var msg = "{{ _('Por favor introduzca valor en:') }}"
			var send = true
			if(document.getElementById("cbx-kcliperc").checked && document.getElementById("valkcliqper").value.length == 0){
				send = false
				msg += "\n" + "{{_('K del K-clique de comunidades')}}"
			}
			if(send){
				validNavigation = true;
				document.getElementById("form").submit()
			} else {
				alert(msg)
			}
		}

		//https://eureka.ykyuen.info/2011/02/22/jquery-javascript-capture-the-browser-or-tab-closed-event/
		

		function endSession() {
			$.ajax({
		      type: "POST",
		      contentType: "application/json;charset=utf-8",
		      url: "/Fin-Sesion",
		      traditional: "true",
		      data: JSON.stringify({{ g.usuario }}),
		      dataType: "json",
		      success: function(response){
          			location.reload();
         		 }
		    });
		}

		function wireUpEvents() {
			  /*
			  * For a list of events that triggers onbeforeunload on IE
			  * check http://msdn.microsoft.com/en-us/library/ms536907(VS.85).aspx
			  */
			  window.onbeforeunload = function(event) {
				  if (!validNavigation) {
					 endSession();
				  }
			  }
			 
			  // Attach the event keypress to exclude the F5 refresh
			  $(document).bind('keydown', function(e) {
				if (e.keyCode == 116){
				  validNavigation = true;
				}
			  });

			 
			  // Attach the event click for all links in the page
			  $("a").bind("click", function() {
				validNavigation = true;
			  });
			 
			  // Attach the event submit for all forms in the page
			  $("form").bind("submit", function() {
				validNavigation = true;
			  });
			 
			  // Attach the event click for all inputs in the page
			  $("input[type=submit]").bind("click", function() {
				validNavigation = true;
			  });

			  $("input[type=button]").bind("click", function() {
					validNavigation = true;
			  });
			}
			 
			// Wire up the events as soon as the DOM tree is ready
			$(document).ready(function() {
			  wireUpEvents();  
		});
	</script>
</body>
</html>